server:
  port: 8084
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/AuthDb?createDatabaseIfNotExist=true
    username: root
    password: Admin@123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
      dialect: org.hibernate.dialect.MYSQL80Dialect
  application:
    name: authService
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
